USE [master]
GO
/****** Object:  Database [DbOtelYenii]    Script Date: 15.03.2025 11:58:48 ******/
CREATE DATABASE [DbOtelYenii]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbOtelYenii', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbOtelYenii.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbOtelYenii_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbOtelYenii_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbOtelYenii].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbOtelYenii]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.03.2025 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMisafir]    Script Date: 15.03.2025 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMisafir](
	[MisafirID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[TC] [char](11) NULL,
	[Mail] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Adres] [nvarchar](200) NULL,
	[Aciklama] [nvarchar](250) NULL,
	[KimlikFoto1] [nvarchar](100) NULL,
	[KimlikFoto2] [nvarchar](100) NULL,
	[Ulke] [int] NULL,
	[Durum] [int] NULL,
 CONSTRAINT [PK_TblMisafir] PRIMARY KEY CLUSTERED 
(
	[MisafirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMisafirs]    Script Date: 15.03.2025 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMisafirs](
	[MisafirID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[TC] [nvarchar](max) NULL,
	[Telefon] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[KimlikFoto1] [varbinary](max) NULL,
	[KimlikFoto2] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.TblMisafirs] PRIMARY KEY CLUSTERED 
(
	[MisafirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
