USE [master]
GO
/****** Object:  Database [OtelYonetimiDb]    Script Date: 18.03.2025 11:12:18 ******/
CREATE DATABASE [OtelYonetimiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OtelYonetimiDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OtelYonetimiDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OtelYonetimiDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OtelYonetimiDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OtelYonetimiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OtelYonetimiDb]
GO
/****** Object:  Table [dbo].[Misafirs]    Script Date: 18.03.2025 11:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Misafirs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](30) NOT NULL,
	[TC] [nvarchar](11) NOT NULL,
	[Telefon] [nvarchar](14) NOT NULL,
	[Mail] [nvarchar](35) NOT NULL,
	[Adres] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](500) NOT NULL,
	[KimlikFoto1] [varbinary](max) NOT NULL,
	[KimlikFoto2] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Misafirs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odas]    Script Date: 18.03.2025 11:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OdaNo] [int] NOT NULL,
	[OdaTipi] [nvarchar](50) NOT NULL,
	[KisiSayisi] [int] NOT NULL,
	[Fiyat] [decimal](18, 0) NOT NULL,
	[Durum] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyons]    Script Date: 18.03.2025 11:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MisafirId] [int] NOT NULL,
	[OdaId] [int] NOT NULL,
	[BaslangicTarihi] [datetime2](7) NOT NULL,
	[BitisTarihi] [datetime2](7) NOT NULL,
	[KisiSayisi] [int] NOT NULL,
	[Durum] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rezervasyons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
