<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="OtelYonetimiDbEntities" connectionString="metadata=res://*/Database.OtelDb.csdl|res://*/Database.OtelDb.ssdl|res://*/Database.OtelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I6JIFBO\SQLEXPRESS;initial catalog=OtelYonetimiDb;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>